body {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 17px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 45px;
	text-align: center;
}

h3 {
	text-align: center;
}
.item-info {
	margin-top: 35px;
}

.feedback-area {
	margin-top: 30px;
}
/*font-family: 'Pacifico', cursive;*/
.bold-text {
	font-weight: bold;
}

.row {
	margin-bottom: 35px;

}
.hidden {
	display: none;
}
ul {
	list-style: none;
	padding: 0;
	text-align: center;

}
 .btn-primary{
	background-color: #010326;
	color: white;
}
.center-list {
	margin: 0 auto;
	width: 50%;
}
.center-list > p {
	text-align: center;

}
.center-list > h1 {
	font-family: 'Pacifico', cursive;
	font-size: 58px;
	color: #267341;
}

.left {
	margin-top: 80px;
}
.right {
	margin-left: -153px;
}
.container.main-box {
	margin-top: 75px;
}

.navbar-default .navbar-nav > li > a {
	color:  #267341;
}
